.homepage {
    background-color: #02083a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .div {
    background-color: #02083a;
    overflow: hidden;
    width: 375px;
    height: 1197px;
    position: relative;
  }
  
  .homepage .header {
    display: flex;
    width: 376px;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    position: absolute;
    top: 9px;
    left: -1px;
    background-color: #02083a;
  }
  
  .homepage .insaisissable-le {
    position: relative;
    width: 256px;
    height: 93px;
    margin-top: -0.5px;
    z-index: 1;
    font-family: "Lexend-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 93px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper {
    font-family: "Lexend-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 93px;
  }
  
  .homepage .span {
    font-size: 24px;
  }
  
  .homepage .hamburger-menu {
    position: relative;
    width: 64px;
    height: 64px;
    z-index: 0;
  }
  
  .homepage .overlap {
    position: absolute;
    width: 375px;
    height: 73px;
    top: 107px;
    left: 0;
  }
  
  .homepage .line {
    height: 59px;
    top: 0;
    left: 0;
    position: absolute;
    width: 375px;
  }
  
  .homepage .icon-united-kingdom {
    position: absolute;
    width: 29px;
    height: 28px;
    top: 45px;
    left: 9px;
  }
  
  .homepage .rectangle {
    position: absolute;
    width: 49px;
    height: 28px;
    top: 45px;
    left: 38px;
    background-color: #d9d9d9;
    border-radius: 15px;
  }
  
  .homepage .ellipse {
    position: absolute;
    width: 18px;
    height: 24px;
    top: 47px;
    left: 40px;
    background-color: #747171;
    border-radius: 9px/12px;
  }
  
  .homepage .overlap-group {
    position: absolute;
    width: 381px;
    height: 1093px;
    top: 278px;
    left: -6px;
  }
  
  .homepage .img {
    height: 12px;
    top: 583px;
    left: 6px;
    position: absolute;
    width: 375px;
  }
  
  .homepage .image {
    position: absolute;
    width: 233px;
    height: 340px;
    top: 0;
    left: 76px;
    object-fit: cover;
  }
  
  .homepage .p {
    position: absolute;
    width: 332px;
    height: 422px;
    top: 254px;
    left: 27px;
    font-family: "Lexend-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .homepage .footer {
    position: absolute;
    width: 381px;
    height: 510px;
    top: 583px;
    left: 0;
    background-color: transparent;
  }
  
  .homepage .overlap-group-2 {
    position: relative;
    width: 375px;
    height: 336px;
    left: 6px;
    background-image: url(./img/rectangle-1.svg);
    background-size: 100% 100%;
  }
  
  .homepage .MMI-dut-white-png {
    position: absolute;
    width: 40px;
    height: 47px;
    top: 214px;
    left: 278px;
    object-fit: cover;
  }
  
  .homepage .linkedin {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 218px;
    left: 196px;
    object-fit: cover;
  }
  
  .homepage .lecture-de {
    position: absolute;
    width: 46px;
    height: 44px;
    top: 214px;
    left: 106px;
    object-fit: cover;
  }
  
  .homepage .instagram {
    position: absolute;
    width: 38px;
    height: 37px;
    top: 218px;
    left: 23px;
    object-fit: cover;
  }
  
  .homepage .text-wrapper-2 {
    position: absolute;
    width: 325px;
    top: 138px;
    left: 22px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #f7f7f7;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15.4px;
  }
  
  .homepage .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    width: 316px;
    height: 98px;
    top: 19px;
    left: 23px;
  }
  
  .homepage .text-i {
    position: relative;
    align-self: stretch;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .homepage .text-wrapper-3 {
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .homepage .INSAISISSABLE {
    position: absolute;
    width: 257px;
    height: 45px;
    top: 187px;
    left: 70px;
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 93px;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-4 {
    color: #ffffff;
  }
  
  .homepage .text-wrapper-5 {
    color: #000000;
  }
  