:root {

    /* Color styles */
    --orange: #e14949;
    --noir: #000;
    --gris: #747171;
    --background: #02083A;
    --menu-background: #656060;
    --vert: #00561D;
    
    /* Text-size styles */
    /* base size: lobster--two-30px (30px) */
    --lexend-giga-20px: 1.3rem;
    --lexend-15px: 0.938rem;
    
    }